#trophy-tab {
    margin-top: 50px;
}

#period-tab {
    margin-top: 50px;
}

#scoreboard-table[scrolly=true] {
    margin-top: 50px;
    height: 400px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}