<ion-header>
  <ion-toolbar>
    <ion-title>Scoreboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
      <ion-segment id="trophy-tab">
          <ion-segment-button>
            <ion-icon name="musical-notes"></ion-icon>
          </ion-segment-button>
          <ion-segment-button checked>
            <ion-icon name="trophy"></ion-icon>
          </ion-segment-button>
          <ion-segment-button>
            <ion-icon name="notifications"></ion-icon>
          </ion-segment-button>
      </ion-segment>

      <ion-segment id="period-tab">
          <ion-segment-button checked value="quarter">
            <ion-label>This Quarter</ion-label>
          </ion-segment-button>
          <ion-segment-button value="alltime">
            <ion-label>All Time</ion-label>
          </ion-segment-button>
      </ion-segment>
  </ion-toolbar> 


  <div scrollY="true" id="scoreboard-table">

      <ion-grid>

          <ion-row class="header">
            <ion-col>
              Name
            </ion-col>
            <ion-col class="last-col">
              Number
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Dingzhong
            </ion-col>
            <ion-col class="last-col">
              10
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Dustin
            </ion-col>
            <ion-col class="last-col">
              20
            </ion-col>
          </ion-row>
          
      </ion-grid>
  </div>

  
</ion-content>
