<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img id="logo" src="assets/icon/trophy-logo.png" alt="logo"></ion-img>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Email:</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Password:</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>  

    <ion-button expand="block" (click)="login()">Login</ion-button>
    <ion-button expand="block">Sign Up</ion-button>
</ion-content>
