<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="user-profile">
        <ion-icon name="ios-person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="scoreboard">
        <ion-icon name="md-trophy"></ion-icon>
        <ion-label>Scoreboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="admin-page">
        <ion-icon name="ios-build"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-tab-button>

    </ion-tab-bar>  
  </ion-tabs>
</ion-content>
