<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<div class="images">
          <div class="one-image signup-avatar-img" *ngIf="imageResponse !== undefined">
            <img src="{{imageResponse}}" alt="" srcset="">
          </div>
		  <div class="one-image signup-avatar-img" *ngIf="imageResponse === undefined">
            <img src="assets/icon/default-avatar.png" alt="" srcset="">
          </div>
        </div>
		<ion-button class="signup-avatar-btn" (click)="getImages()">Select Avatar</ion-button>
		
		<form [formGroup]="signupForm">
			<ion-item>
				<ion-label position="floating">Email:</ion-label>
				<ion-input  formControlName="email" type="text"></ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label position="floating">Username:</ion-label>
				<ion-input [class.invalid]="!signupForm.controls.username.valid && (signupForm.controls.username.dirty || submitAttempt)" 
				formControlName="username" type="text"></ion-input>
			</ion-item>
			<ion-item *ngIf="!signupForm.controls.username.valid  && (signupForm.controls.username.dirty || submitAttempt)">
				<p style="color: #ea6153;">Username is invalid</p>
			</ion-item>
			
			<ion-item>
				<ion-label position="floating">Password:</ion-label>
				<ion-input formControlName="password" type="password"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Confirm Password:</ion-label>
				<ion-input formControlName="confrimPassword" type="password"></ion-input>
			</ion-item>
			
		</form>
		
		<p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
		
	</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" (click)="signUp()">Sign Up</ion-button>
  </ion-toolbar>
</ion-footer>
